{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>

  <div class="d-flex justify-content-between align-items-center">
    <h2>Drivers</h2>
    <form action="{% url 'taxi:toggle-car-assign' pk=car.id %}" method="post">
      {% csrf_token %}
      {% if user in car.drivers.all %}
        <button type="submit" class="btn btn-danger">Delete me from this car</button>
      {% else %}
        <button type="submit" class="btn btn-success">Assign me to this car</button>
      {% endif %}
    </form>
  </div>
  <hr>

  <ul>
    {% for driver in car.drivers.all %}
      <li>{{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})</li>
    {% empty %}
      <li>No drivers assigned to this car.</li>
    {% endfor %}
  </ul>
{% endblock %}